[defaults]
inventory            = implementations/arista-ansible/ansible/hosts.yml
roles_path           = implementations/arista-ansible/ansible/roles
collections_path     = implementations/arista-ansible/ansible/collections:/usr/share/ansible/collections:~/.ansible/collections
host_key_checking    = False
timeout              = 60
forks                = 10
deprecation_warnings = False
system_warnings      = False
interpreter_python   = auto_silent

[persistent_connection]
connect_timeout = 60
command_timeout = 60

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o LogLevel=ERROR

[paramiko_connection]
look_for_keys = False
